:root {
  --background-color: #fafafa;
  --primary-color-light: #f7fbfd;
  --primary-color: #ce269c;
  --primary-dark-color: #800b70;
  --error-color: #d43232;
  --error-light-color: #fff8f8;
  --info-color: #053940;
  --info-light-color: #e7f7f9;
  --success-color: #1faf4f;
  --success-light-color: #f4fff8;
  --warn-color: #ee8916;
  --warn-light-color: #fffbee;
}
